<!doctype html>
<html>
<head>


</head>
<body>
<form action='timeshift/index' method='get'>
<input type='text; name='time' />
<input type='text; name='shift' />

<input type='submit'>

</form>
<%=@new_time%>
<%=@input_error%>
</body>


</html>
